
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RL balance</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/main.css" />
    <link rel="shortcut icon" href="">
</head>
<body>
    <div class="container-fluid" ng-app="rlbalance">
        <div ng-controller="BalanceController" ng-cloak>
            @*<h2>Balance</h2>*@
            @*{{Balance | json}}*@

            <table class="table table-hover">
                <caption>Ваш баланс:</caption>
                <tr>
                    <th>Валюта</th>
                    <th>Общий долг</th>                    
                    <th>Дней просрочки</th>
                    <th>Просрочка</th>
                    <th>К оплате на сегодня</th>
                    <th>К оплате на {{dataTomorrow  | date:'dd.MM.yyyy'}}</th>
                    <th>К оплате на {{dataAfterTomorrow  | date:'dd.MM.yyyy'}}</th>
                </tr>
                <tr ng-repeat="bal in Balance">
                    <td>{{ bal.currency }}</td>
                    <td>{{ bal.Total }}</td>
                    <td>{{ bal.DaysOverdue }}</td>
                    <td>{{ bal.Overdue }}</td>
                    <td>{{ bal.PayNow }}</td>
                    <td>{{ bal.PayTomorrow }}</td>
                    <td>{{ bal.PayAfterTomorrow }}</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="~/Scripts/app.js" type="text/javascript"></script>
</body>
</html>

